@import "~/styles/variables.module.scss";

.navBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $colorSecondaryBackground;
}

.navBarItem {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: none;

  :global .note {
    display: none;
    position: absolute;
    left: 50px;
    white-space: nowrap;
    font-size: $fontExtraExtraSmall;
    padding: 4px;
    border: 1px solid #fff;
    z-index: 100;
    background: $colorPrimaryBackground;
  }
}

.active {
  background: $colorActive;
}

.navBarItem:hover :global .note {
  display: block;
}
