@import "~/styles/variables.module.scss";

.button {
  color: $colorBackground;
  font-size: $fontExtraSmall;
  line-height: $fontSmall;
  padding: $spacingSmall $spacingMedium;
  cursor: pointer;
  background: $colorActive;
  border-radius: 5px;
  border: none;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.7;
}
