@import "~/styles/variables.module.scss";

.paramGroup {
  :global {
    .title {
      width: 75px;
    }

    .items {
      align-items: center;

      .fix-width {
        width: $spacingGutter;
        margin: 0 $spacingMedium;

        &:first-child {
          margin-left: 0;
        }
      }

      .notice {
        color: $colorTextMedium;
        font-weight: 700;
        background-color: $colorTextUltraLight;
        padding: 1px 3px;
        margin: 0 5px;
        border-radius: 3px;

        &:first-of-type {
          margin-left: 20px;
        }
      }
    }
  }
}
