@import "~/styles/variables.module.scss";

.textarea {
  width: 100%;
  box-sizing: border-box;
  padding: $spacingMedium;
  border-radius: 10px;
  background: $colorSecondaryBackground;
  resize: none;
  color: $colorTextDark;
  line-height: $fontLarge;
  outline: none;
}
