@use "~/styles/variables.module.scss" as variables;

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: variables.$spacingMedium;
  border-radius: 5px;
  outline: none;
  position: relative;
  box-sizing: border-box;
  border: 1px solid variables.$colorDivider;

  :global {
    input {
      line-height: variables.$fontSmall;
      font-size: variables.$fontSmall;
      color: variables.$colorTextDark;
      background: none;
      outline: none;
      border: none;
      width: 100%;
      flex: 1;
    }

    .title {
      line-height: variables.$fontExtraExtraSmall;
      font-size: variables.$fontExtraExtraSmall;
      padding: 0 variables.$spacingXxsmall;
      position: absolute;
      top: calc(variables.$fontExtraExtraSmall / 2 * -1);
      left: variables.$spacingMedium;
      background: variables.$colorPrimaryBackground;
    }

    .layout-placeholder {
      height: 0;
      overflow: hidden;
    }
  }
}

.error {
  border: 1px solid variables.$colorRed;
  animation: inputShake 0.3s ease-out 1;

  :global {
    .title {
      color: variables.$colorRed;
    }
  }
}

.active {
  border: 1px solid variables.$colorActive;

  :global {
    .title {
      color: variables.$colorActive;
    }
  }
}

@keyframes inputShake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
